body {
	background-image: -webkit-linear-gradient(#dddddd, #ffffff);
	background-image: -moz-linear-gradient(#dddddd, #ffffff);
	background-image: -o-linear-gradient(#dddddd, #ffffff);
	background-image: linear-gradient(#dddddd, #ffffff);
	font-family: Helvetica, Arial, sans-serif;
}
h3 {
	margin-bottom: 15px;
	padding: 10px;
	background: #555555;
	color: #f1f1f1;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
form {
	border: 1px solid #cccccc;
	padding: 10px;
	background: #f1f1f1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
fieldset {
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	padding: 15px;
}
legend {
	font-weight: bold;
}
li {
	margin: 10px 0;
}
